/*
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 */

video.evhh5v_mouseptr_normal, canvas.evhh5v_mouseptr_normal, div.evhh5v_mouseptr_normal {
	cursor: default;
}
video.evhh5v_mouseptr_hidden, canvas.evhh5v_mouseptr_hidden, div.evhh5v_mouseptr_hidden {
	cursor: none;
}
.evhh5v_vidobjdiv {
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left:  0px;
	margin-right: 0px;
	outline: 0px;
	padding: 0px 0px;
	max-width: 100%;
	min-width: 100%;
	max-height: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
	border: 0px;
	/*background: black;*/
	background-color: black;
	position: relative;
	overflow: hidden;
	clip: auto;
}
	/*
.evhh5v_vidobjdiv_fullscr {
	padding: 0px;
	margin-top:    0px;
	margin-bottom: 0px;
	margin-left:   0px;
	margin-right:  0px;
	border: 0px;
	width: 100%;
	height: 100%;
	max-width: 100%;
	min-width: 100%;
	max-height: 100%;
	min-height: 100%;
	position: relative;
}
	*/
.evhh5v_cbardiv { 
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left:  auto;
	margin-right: auto;
	outline: 0px;
	padding: 0px;
	border: 0px;
}
div.evhh5v_cbardiv { 
	position: absolute;
}
/* testing:
 */
span.evhh5v_evh-caption {
	font-family: times;
	font-size: 12pt;
	font-weight: normal;
	color: #E4DDDD;
}
