/**
 * css for text objects in swf
 *
 * note on text colors: they may be gaudy, but they must have
 * opposite contrast to any background, e.g. on red bg green
 * text should show, and vice versa
 * text-align:'center' has no effect
 */

.bodytxt {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12pt;
	color: #FAFF94;
	text-align: center;
    display: block;
}

.headtxt {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18pt;
	color: #DF1D00;
	text-align: center;
    font-weight: bold;
    display: block;
}

.footer {
    font-family: Bookman,Times,serif;
    font-size: 10pt;
	color: #DCE42D;
	text-align: center;
    display: block;
}
